.first-section {
  background: url("/images/save-your-data.svg") no-repeat left 75% top 90px;
  height: 564px;
}

.save-data__button {
  background: #9c69e2;
  transition: 0.5s;
}

.save-data__button:hover {
  transform: rotate(360deg);
  background-color: #f063b8;
}

.save-data__title {
  font-family: "Helvetica", "sans-serif";
  font-weight: 700;
  font-size: 5em;
  line-height: 110%;
  color: #212353;
  width: 645px;
  margin-top: 130px;
}

.save-data__mainifo {
  width: 380px;
  margin: 50px 0;
}
